<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971566676272-qsnkgokkar2tbdnb4dk10367topcpdni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971566676272-qsnkgokkar2tbdnb4dk10367topcpdni</string>
	<key>API_KEY</key>
	<string>AIzaSyAzvS3WEateCSllKADIXLVXWgRGE87DvwY</string>
	<key>GCM_SENDER_ID</key>
	<string>971566676272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SoleekLabInternTask</string>
	<key>PROJECT_ID</key>
	<string>soleeklabinterntask</string>
	<key>STORAGE_BUCKET</key>
	<string>soleeklabinterntask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971566676272:ios:be54fd0dbc06acbc</string>
	<key>DATABASE_URL</key>
	<string>https://soleeklabinterntask.firebaseio.com</string>
</dict>
</plist>